<h1><%= @cocktail.name %></h1>

<ul class="list-unstyled">
  <% @cocktail.doses.each do |dose| %>
    <li>
      <strong><%= Ingredient.find(dose.ingredient_id).name %>:</strong>
      <%= dose.description %>
      <%= link_to dose_path(dose), method: :delete do %>
        <i class="fas fa-trash"></i>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail), class:'btn btn-primary' %>
