<div class="container">
  <div class="card-cocktail">
    <%= cl_image_tag @cocktail.photo %>
    <div class="card-cocktail-infos">
      <div>
        <h1><%= @cocktail.name %></h1>
        <ul class="list-unstyled">
          <% @cocktail.doses.each do |dose| %>
            <li>
              <strong><%= Ingredient.find(dose.ingredient_id).name %>:</strong>
              <%= dose.description %>
              <%= link_to dose_path(dose), method: :delete do %>
                <i class="fas fa-trash text-warning"></i>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <ul class="list-unstyled">
        <li><% @cocktail.rating.times do %>
          <i class="fas fa-star"></i>
        <% end %>
        <% (5 - @cocktail.rating).times do %>
          <i class="far fa-star"></i>
        <% end %></li>
      </ul>
  </div>
</div>

  <div class="d-flex justify-content-end">
    <%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail), class:'btn btn-info my-2 mx-1' %>
    <%= link_to 'Delete this cocktail', cocktail_path(@cocktail), method: :delete, class:'btn btn-warning my-2 mx-1' %>
    <%= link_to 'Back to cocktails', cocktails_path, class:'btn btn-success my-2 mx-1' %>
  </div>

